*{
    margin: 0;
    padding: 0;
}

.color-happy-blue{
    color: #1d9bb1;
}

.color-happy-yellow{
    color: #e4bd00;
}

.color-happy-dark{
    color: #0c3a48;
    opacity: 100%;
}

.linha-vertical-fina {
    height: 100%; /*Altura da linha*/
    border-left: 0px solid; /* Adiciona borda esquerda na div como ser fosse uma linha.*/
    color: #0c3a48;
}

.linha-vertical {
    height: 100%; /*Altura da linha*/
    border-left: 10px solid; /* Adiciona borda esquerda na div como ser fosse uma linha.*/
    color: #e4bd00;
}

.img-circle-size1{
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.img-circle-size2{
    height: 220px;
    width: 220px;
    object-fit: cover;
}

.card-focus :hover{
    box-shadow: 1px 5px 5px rgba(0,0,0,0.5);
}

.card-focus-none :hover{
    box-shadow: none;
}

.text-dark-happy{
    color: #212529;
}

.modal-header{
    border: none;
}

.modal-footer{
    border: none;
}

.modal-body{
    padding: 0;
}

.carousel-inner img{
    height: 400px;
    object-fit: cover;
}

.bg-selected:hover{
    background-color: white;
}

.bg-happy-blue{
    background-color: #1d9bb1;
}

.bg-happy-yellow{
    background-color: #e4bd00;
}

.bg-happy-selected{
    background-color: white;
}

.img-cards{
    width: 240px;
    object-fit: cover;
}

.tamanho-letra{
    font-size: 15px;
}

.row{
    margin: 0;
    padding: 0;
}

.bg-opacidade-50{
    background-color: white;
}

.video-size{
    height: auto;
    width: 100%;
    margin-bottom: -1;
}

#click-here{
    background-color: white;
}

#click-here :hover{
    background-color: #e4bd00;
}

#img-click{
    height: auto;
    width: 150px;
}

#card-blue-click{
    height: 419px;
}

.objects-icons{
    height: 185px;
    width: auto;
    object-fit: cover;
}

#peoples-size{
    height: 185px;
    width: 250px;
    object-fit: cover;
}

.shadow-text{
    text-shadow: 0.1em 0.1em 0.2em black;
}

.text-size-15{
    font-size: 20px;
}

.text-size20{
    font-size: 20px;
}

#logo-insta-midia{
    height: 15px;
    width: 15px;
}

#logo-face-midia{
    height: 15px;
    width: 15px;
}

#mensagem{
    height: 215px;
    resize: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e4bd00;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #0c3a48;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: white;
}

section div a{
    text-decoration: none;
    color: white;
}

section div a:hover{
    text-decoration: none;
    text-transform: none;
}

.box-select :hover{
    background-color: #e4bd00;
    color: #0c3a48;
}

.box-selected{
    background-color: #e4bd00;
    color: #0c3a48;
}

.card-products{
    height: 270px;
    width: auto;
}

.link-modal-blue :hover{
    text-decoration: none;
    color: white;
}

.link-modal-yellow :hover{
    text-decoration: none;
    color: #212529;
}

.modal-body{
    max-height: 450px;
    overflow-y: scroll;
  }

.img-product-banner{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.btn-orcamento{
    border: none;
}

.btn-orcamento:hover{
    background-color: white;
    color: black;
}

.text-hover-white :hover{
    color: white;
    text-decoration: none;
}

.block-focus{
    box-shadow: 1px 5px 5px rgba(0,0,0,0.5);
}

.block-size{
    margin-top: 10%;
}

#busto-user{
    height: 150px;
    width: auto;
}